<!-- Authors and Group: Theresa Quach and Lianghui Wang - Group 29 -->
<!-- Course: CS340 -->
<!-- Project Name: Project Library - main.hbs -->
<!-- Citation(s): -->
<!--    Starter Code from the github Nodejs starter app guide used to set up the body of main.hbs file in order to use handlebars. Code below was taken verbatim from the guide. -->
<!--   (https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)) -->

<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>

    {{{body}}}

</body>
</html>